</div>
	<div class="fluid dash">
		<div class="gridContainer clearfix">
			<div class="fluid dash_post_list">
				<h3>Manage Posts</h3>
					<% @posts.each do |post| %>
					<div class="fluid list-items">
							<div class="fluid list_each">
								| <%= post.id %> | <%= link_to post.title, post %>, <%= post.created_at.strftime('%b, %d') %> - <%= post.state %>
							</div>
							<div class="fluid crud">
								<i class="fa fa-pencil-square-o"></i><%= link_to 'Edit', edit_post_path(post) %>
								<i class="fa fa-times-circle"></i><%= link_to 'Delete', post_path(post),
																			method: :delete, data: { confirm: 'Are you sure?' } %>
							</div>
						</div>
					<% end %>
					<div class="fluid alerts">
					<h3>Manage Comments</h3>
						<ul>
							<% @comments.each do |comment| %>
								<li>
									| <%= comment.post_id %> | 
										<%= link_to comment.commenter, comment.post %> writes 
											<%= link_to comment.body, comment.post %>
								</li>
							<% end %>
						</ul>
				</div>
			</div>

			<div class="fluid dash_right">
				<div class="fluid create_new">
					<h3>Create New</h3>
						<%= link_to 'New Post', new_post_path %>
				</div>
			</div>
		</div>
	</div>






