<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <ul>
    <li>
      <%= f.text_field :title, :placeholder => "Title" %>
    </li>

    <li>
      <%= f.text_field :author, :placeholder => "Author" %>
    </li>

    <li>
      <%= f.text_area :short, :placeholder => "First Paragraph" %>
    </li>

    <li>
      <%= f.text_area :text, :placeholder => "Write your blog here", :class => "common", :id => "comments" %>
    </li>
    <li>
      <%= f.file_field :pics %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  </ul>
<% end %>
 
<%= link_to 'Back', posts_path %>