<% @posts.each do |post| %>
<div class="fluid each_article">
    <article>
      <hgroup>
        <h2><%= link_to post.title, post %></h2>
        <p>By: <%= post.author %> on <%= post.created_at.strftime('%b, %d') %></p>
      </hgroup>
      <% if !post.photo.blank? %>
        <%= image_tag post.photo.url %>
      <% end %>
      <p>
        <%= markdown(post.short) %>
      </p>
      <div>
        <%= link_to 'Read More', post %>
      </div>
    </article>
  </div>
  <% end %>




