<% @posts.each do |post| %>
<div class="fluid each_article">
    <article>
      <hgroup>
        <h2><%= link_to post.title, post %></h2>
        <p>By: <%= post.author %> on <%= post.created_at.strftime('%b, %d') %></p>
      </hgroup>
      <img src="http://lorempixel.com/400/200" />
      <p>
        <%= post.short %>
      </p>
      <div>
        <%= link_to 'Read More', post %>
      </div>
    </article>
    <td><i class="fa fa-times"></i><%= link_to 'Destroy', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
  <% end %>




